window.__KMT_RUNTIME_CONFIG__ = {
  API_BASE_URL: "${API_BASE_URL}",
  CLOUDINARY_CLOUD_NAME: "${CLOUDINARY_CLOUD_NAME}",
  CLOUDINARY_UPLOAD_PRESET: "${CLOUDINARY_UPLOAD_PRESET}",
  CLOUDINARY_FOLDER: "${CLOUDINARY_FOLDER}",
};
