@import url("../shared/Fonts/fonts.css");
@import "tailwindcss";
:root {
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: black;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    font-family: "Montserrat Alternates", sans-serif;
    color: #ffffff;
    text-decoration: inherit;
    transition: 0.3s ease-in-out;
    font-size: clamp(14px, 1.5vw, 18px);
    text-wrap: nowrap;
    @media screen and (max-width: 400px) {
        font-size: clamp(10px, 3vw, 14px);
    }
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    padding-top: 80px;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
}

p {
    font-size: 16px;
    font-family: "Montserrat Alternates", sans-serif;
}